#--- Environment ------------
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
**/venv/*
#--- IDE project files ------
.vscode/
*.code-workspace
.zed
.ruff*
.flake8
#--- python -----------------
__pycache__
*.py[cod]
*$py.class
*.pyc
__pycache__
#--- Terraform -------------------------------
.terraform
.terraform.lock.hcl
terraform.tfstate.backup
terraform.tfstate
#--- Project ----------------
**/.DS_Store
crash.log
**/_archives
payloads
**/init.sh
**/output
**/sdwan_api.log
**/config.yaml
catalystwan/terraform/module/defaults.yaml
