#--- Environment ------------
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
**/venv/*
#--- IDE project files ------
.vscode/
*.code-workspace
.zed
.ruff*
.flake8
#--- python -----------------
__pycache__
*.py[oc]
*.py[cod]
*$py.class
*.pyc
__pycache__
build/
dist/
wheels/
*.egg-info
#--- Terraform -------------------------------
.terraform
.terraform.lock.hcl
terraform.tfstate.backup
terraform.tfstate
# --- macOS -------------------------------
.DS_Store
*.swp
*~
#--- Project ----------------
.env
.env.*local
.env.bak
crash.log
**/_archives
**/init.sh
**/output
**/sdwan_api.log
**/meraki_api.log
**/config.yaml
catalystwan/terraform/module/defaults.yaml
meraki/terraform/module/defaults.yaml
